<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div th:fragment="playlist" class="playlist-container">
        <link th:href="@{/assets/css/music/playlist-chart.css}" rel="stylesheet" />

        <div class="playlist-header">
            <h2>Top Charts</h2>
            <a th:href="@{/music/music-page(username=${User.username})}" class="show-all-link">Show all</a>
        </div>
    
        <ul class="playlist">
            <li class="playlist-item" th:each="song : ${Songs}" th:attr="data-song-id=${song.songId}">
                <div class="playlist-rank" th:text="${song.songId}"></div>
                <div class="playlist-poster">
                    <img th:src="${song.posterImg}" alt="Song Poster" class="poster-img">
                </div>
                <div class="playlist-info">
                    <h4 class="song-title" th:text="${song.songName}"></h4>
                    <p class="song-details">
                        <span class="duration" th:text="${song.releaseDate}">3:42</span>
                    </p>
                </div>
                <div class="playlist-actions">
                    <span class="plays" >12,345</span>
                    <button class="like-btn">
                        <i class="fa-regular fa-heart"></i>
                    </button>
                </div>
            </li>
        </ul>
    </div>
    
</body>
</html>