<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title th:text="#{web.name}"></title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
    <link th:href="@{/assets/css/film/film-list.css}" rel="stylesheet" />
    <link th:href="@{/assets/css/film/poster-film.css}" rel="stylesheet" />
    <link th:href="@{/assets/css/images.css}" rel="stylesheet" />
    <link th:href="@{/assets/css/mainHome.css}" rel="stylesheet" />
    <link th:href="@{/assets/css/sidebar.css}" rel="stylesheet" />
    <link th:href="@{/assets/css/top-menu.css}" rel="stylesheet" />
</head>
<body>
    <!--
    /*
    * This page is the main page of the website.
    * It contains :
    *   - A header (header) (the top menu)
    *   - A side menu (side-menu)
    *
    *   - A list of top films (top-films - the poster of top 5 films) 
    *   - A list of films (film-list)
    *
    *   - A footer (footer)
    */ -->
    <header th:insert="~{layout/header :: header}"></header>
    
    <div class="side-menu" th:insert="~{layout/side-menu :: side-menu}"></div>

    <div th:insert="~{film/film-list :: top-films}"></div>
    
    <div class="content">

        <div class="container">
            <div th:replace="~{film/film-list :: film-list}"></div>
        </div>
    </div>


    <footer th:replace="~{layout/footer :: footer}"></footer>
    
    <script th:src="@{/assets/js/film/menu.js}"></script>
    <script th:src="@{/assets/js/film/pagination.js}"></script>
    <script th:src="@{/assets/js/film/search.js}"></script>
    <script th:src="@{/assets/js/film/rating.js}"></script>
    <script th:src="@{/assets/js/film/play-film.js}"></script>
    <script th:src="@{/assets/js/themeSwitch.js}"></script>
</body>
</html>
